body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 20px;
  box-sizing: border-box;
  color: white;
}
ul {
  list-style: none;
}
.about {
  justify-content: space-between;
  text-align: center;
  display: block;
}
p {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  word-spacing: 1.5px;
  width: 80%;
  line-height: 35px;
  letter-spacing: 1px;
}
.description {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.description :hover {
  color: rgb(95, 164, 145);
  transition: all linear 0.5s;
  cursor: pointer;
}
.github {
  color: white;
  margin: 20px;
}
span {
  font-size: large;
}
