.form-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 50px;
  margin-top: 20px;
}

/* Style for the grid container */
.grid-container {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 50px;
  margin-top: 20px;
}

/* Style for each song card */
.grid-item {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #250053;
  color: white;
}

/* Style for song card title */
.grid-item h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

/* Style for song card artist */
.grid-item p {
  margin: 5px 0;
  font-size: 14px;
  color: #a57fd4;
}
