.search-form{
    justify-content: center;
    text-align: center;
    border: 10px solid black;

}

submit-btn{
        text-align: center;
    text-align: center;
    border: 10px solid rgb(118, 49, 49);

}
