h2 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  border-radius: 15px;
}

/* .song-card-div {
  display: flex;
  flex-direction: column;
} */

/* p {
  text-align: center;
  color: beige;
  line-height: 1.6;
  border-radius: 15px;
  font-size: 12px;
} */

.play-button {
  width: auto;
  border: none;
  color:rgb(95, 164, 145);
  margin-right: 20px;
  border-radius: 5px;
}

.pause-button {
  width: auto;
  border: none;
  /* background-color: green; */
  margin-right: 20px;
  
}

#add-button {
  font-size: 50px;
  font-weight: 900;
  transition: 0.1s;
}

#add-button:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.2);
}

#add-button:active {
  transition: 0.1s;
  transform: scale(0.6);
}
